*{
        margin: 0px;
        padding: 0px;
}

#h1{
    text-align: center;

}
div.head{
    
        width: 100px;
        height: 30px;
        background-color: rgba(253, 5, 79, 0.726);
        border: 5px solid black;
        float:right;
        text-align: center;
        margin-right: 0px;
        
        
     
}
.body{
        width: 320px;
        background-color: rgba(128, 128, 128, 0.726);
        border: 5px solid black;
        /* margin: auto is used to center the content horizontally */
        margin: 20px auto;
       
}

.para{
        clear: both;
}
